name: build

on:
  workflow_dispatch:
  push:
    branches: [ master ]

jobs:
  build-gradle:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Gradle build
        run: ./gradlew build -x check

      - name: Gradle test
        run: ./gradlew test

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: |
            build/
            Dockerfile

  playwright-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser: [chromium, firefox, webkit]
    env:
      PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
      PLAYWRIGHT_BROWSER: ${{ matrix.browser }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Gradle build
        run: ./gradlew build -x check

      - name: Setup browser
        run: ./gradlew playwright --args="install --with-deps ${{ matrix.browser }}"

      - name: Run Playwright tests
        run: ./gradlew playwrightTest

  build-docker:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    needs:
      - build-gradle
      - playwright-tests
    steps:
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io/${{ github.repository_owner }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN  }}

      - name: Download build output
        uses: actions/download-artifact@v4
        with:
          name: build-output

      - name: Set BUILD_VERSION
        run: echo "BUILD_VERSION=${GITHUB_REF_NAME}-$(date +"%Y%m%d-%H%M%S")" >> "$GITHUB_ENV"

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          build-args: |
            BUILD_VERSION=${{ env.BUILD_VERSION }}
          tags: |
            ghcr.io/harrel56/jar-hell:${{ env.BUILD_VERSION }}
            ghcr.io/harrel56/jar-hell:latest

  deploy:
    runs-on: ubuntu-latest
    needs:
      - build-docker
    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            sudo docker compose -f /home/harrel/apps/docker-compose.yml down jarhell
            sudo docker compose -f /home/harrel/apps/docker-compose.yml pull jarhell
            sudo docker compose -f /home/harrel/apps/docker-compose.yml up jarhell -d